@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* main header */

.main-header {
  flex-grow: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 54px;
  padding: 12px 16px;
}

.main-header-nav {
  flex-basis: 935px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* main content */

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-content-wrapper {
  flex-basis: 935px;
  display: flex;
}

.main-content-wrapper-form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main wrapper form */

.main-content-wrapper-form-register {
  display: flex;
  flex-direction: column;
  max-width: 319px;
}

.main-content-wrapper-form-register > h5 {
  color: gray;
}

.main-content-wrapper-form-register > div:first-of-type {
  display: flex;
}

.main-content-wrapper-form-register > div:first-of-type :first-child {
  margin-right: 4px;
}

.main-content-wrapper-form-register > div:first-of-type :last-child {
  margin-left: 4px;
}

.main-content-wrapper-form-register input {
  background-color: #eee;
  border: none;
  padding: 12px 16px;
  margin: 8px 0px;
  width: 100%;
  outline: none;
}

.main-content-wrapper-form-register > div:last-of-type {
  text-align: center;
}

.main-content-wrapper-form-register > div:last-of-type > button {
  border: 0;
  background-color: black;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 80%;
  margin: 24px 0;
}

.main-content-wrapper-form-register > p {
  font-size: 12px;
  text-align: center;
}

/* main side */
.main-content-wrapper-side {
  display: none;
}

/* responsive side */
@media screen and (min-width: 864px) {
  .main-content-wrapper-form {
    max-width: 468px;
  }
  .main-content-wrapper-side {
    display: block;
    flex-grow: 1;
  }
  .main-content-wrapper-side-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-content-wrapper-side-wrapper > img {
    width: 100%;
  }
}

/* main footer */

.main-footer {
  flex-grow: 0;
  background-color: black;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 6px;
}

.error {
  color: red;
  padding: 0;
  margin: 0;
}
